openapi: 3.0.3
info:
  title: Rockbot Audio Messaging API
  version: '5.0'
  x-apisjson-generated: '2026-07-21'
  x-apisjson-method: generated
  x-apisjson-source: https://developer.rockbot.com/api.html
  description: 'Rockbot''s external REST API (v5) lets business customers programmatically control in-location media across their zones and device groups: music playback, audio messaging campaigns, digital-signage campaigns, device status/remote control, and playback history/analytics exports. This OpenAPI description was faithfully generated by the API Evangelist enrichment pipeline from the public documentation at https://developer.rockbot.com — Rockbot does not publish a machine-readable spec. Request/response body schemas are modeled loosely (free-form JSON) where the documentation does not enumerate fields; endpoints, methods, auth, pagination, and rate limits are captured as documented.'
  contact:
    name: Rockbot API Support
    email: support@rockbot.com
    url: https://developer.rockbot.com
servers:
- url: https://api.rockbot.com/v5
  description: Production
security:
- oauth2: []
tags:
- name: Audio Messaging
  description: Audio-messaging campaigns and assets by group or zone.
paths:
  /ext/messaging/campaigns/group:
    get:
      operationId: listMessagingCampaignsByGroup
      tags:
      - Audio Messaging
      summary: List audio-messaging campaigns by group
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/campaigns/zone:
    get:
      operationId: listMessagingCampaignsByZone
      tags:
      - Audio Messaging
      summary: List audio-messaging campaigns by zone
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/campaign/group:
    post:
      operationId: createMessagingCampaignGroup
      tags:
      - Audio Messaging
      summary: Create a group-level audio-messaging campaign
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      operationId: archiveMessagingCampaignGroup
      tags:
      - Audio Messaging
      summary: Archive a group-level audio-messaging campaign
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/campaign/zone:
    post:
      operationId: createMessagingCampaignZone
      tags:
      - Audio Messaging
      summary: Create a zone-level audio-messaging campaign
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      operationId: archiveMessagingCampaignZone
      tags:
      - Audio Messaging
      summary: Archive a zone-level audio-messaging campaign
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/campaign/enable:
    post:
      operationId: enableMessagingCampaign
      tags:
      - Audio Messaging
      summary: Activate an audio-messaging campaign
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/campaign/disable:
    post:
      operationId: disableMessagingCampaign
      tags:
      - Audio Messaging
      summary: Deactivate an audio-messaging campaign
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/campaign/play:
    post:
      operationId: playMessagingCampaign
      tags:
      - Audio Messaging
      summary: Trigger immediate campaign playback
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/campaign/add_asset:
    post:
      operationId: addMessagingCampaignAsset
      tags:
      - Audio Messaging
      summary: Associate an asset with a campaign
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/campaign/remove_asset:
    delete:
      operationId: removeMessagingCampaignAsset
      tags:
      - Audio Messaging
      summary: Dissociate an asset from a campaign
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/assets/group:
    get:
      operationId: listMessagingAssetsByGroup
      tags:
      - Audio Messaging
      summary: List audio files by group
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/assets/zone:
    get:
      operationId: listMessagingAssetsByZone
      tags:
      - Audio Messaging
      summary: List audio files by zone
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/asset/group:
    post:
      operationId: uploadMessagingAssetGroup
      tags:
      - Audio Messaging
      summary: Upload an audio file (group-level)
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      operationId: deleteMessagingAssetGroup
      tags:
      - Audio Messaging
      summary: Remove an audio file (group-level)
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /ext/messaging/asset/zone:
    post:
      operationId: uploadMessagingAssetZone
      tags:
      - Audio Messaging
      summary: Upload an audio file (zone-level)
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      operationId: deleteMessagingAssetZone
      tags:
      - Audio Messaging
      summary: Remove an audio file (zone-level)
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    Unauthorized:
      description: Missing or invalid bearer access token.
    RateLimited:
      description: Rate limit exceeded. The default limit is 1 request per second.
    Object:
      description: Success. Returns a JSON object or array.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'OAuth 2.0 Client Credentials grant. Exchange a CLIENT_ID/CLIENT_SECRET (issued by Rockbot support) at the token endpoint for a 24-hour bearer ACCESS_TOKEN, then send it as `Authorization: Bearer ACCESS_TOKEN`.'
      flows:
        clientCredentials:
          tokenUrl: https://api.rockbot.com/v5/api-clients/token
          scopes: {}
