openapi: 3.0.3
info:
  title: Rockbot Audio Messaging Auth API
  version: '5.0'
  x-apisjson-generated: '2026-07-21'
  x-apisjson-method: generated
  x-apisjson-source: https://developer.rockbot.com/api.html
  description: 'Rockbot''s external REST API (v5) lets business customers programmatically control in-location media across their zones and device groups: music playback, audio messaging campaigns, digital-signage campaigns, device status/remote control, and playback history/analytics exports. This OpenAPI description was faithfully generated by the API Evangelist enrichment pipeline from the public documentation at https://developer.rockbot.com — Rockbot does not publish a machine-readable spec. Request/response body schemas are modeled loosely (free-form JSON) where the documentation does not enumerate fields; endpoints, methods, auth, pagination, and rate limits are captured as documented.'
  contact:
    name: Rockbot API Support
    email: support@rockbot.com
    url: https://developer.rockbot.com
servers:
- url: https://api.rockbot.com/v5
  description: Production
security:
- oauth2: []
tags:
- name: Auth
  description: OAuth 2.0 client-credentials token exchange.
paths:
  /api-clients/token:
    post:
      operationId: createAccessToken
      tags:
      - Auth
      summary: Exchange client credentials for an access token
      description: Exchange a CLIENT_ID / CLIENT_SECRET pair (issued by Rockbot support) for a bearer ACCESS_TOKEN. Tokens are valid for 24 hours.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - client_id
              - client_secret
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        '200':
          description: Access token issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    description: Seconds until expiry (24h).
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid bearer access token.
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'OAuth 2.0 Client Credentials grant. Exchange a CLIENT_ID/CLIENT_SECRET (issued by Rockbot support) at the token endpoint for a 24-hour bearer ACCESS_TOKEN, then send it as `Authorization: Bearer ACCESS_TOKEN`.'
      flows:
        clientCredentials:
          tokenUrl: https://api.rockbot.com/v5/api-clients/token
          scopes: {}
