openapi: 3.0.3
info:
  title: Rockbot API
  version: '5.0'
  x-apisjson-generated: '2026-07-21'
  x-apisjson-method: generated
  x-apisjson-source: https://developer.rockbot.com/api.html
  description: >-
    Rockbot's external REST API (v5) lets business customers programmatically
    control in-location media across their zones and device groups: music
    playback, audio messaging campaigns, digital-signage campaigns, device
    status/remote control, and playback history/analytics exports. This
    OpenAPI description was faithfully generated by the API Evangelist
    enrichment pipeline from the public documentation at
    https://developer.rockbot.com — Rockbot does not publish a machine-readable
    spec. Request/response body schemas are modeled loosely (free-form JSON)
    where the documentation does not enumerate fields; endpoints, methods,
    auth, pagination, and rate limits are captured as documented.
  contact:
    name: Rockbot API Support
    email: support@rockbot.com
    url: https://developer.rockbot.com
servers:
  - url: https://api.rockbot.com/v5
    description: Production
tags:
  - name: Auth
    description: OAuth 2.0 client-credentials token exchange.
  - name: Devices
    description: Device status, screenshots, and remote reboot.
  - name: Music
    description: Playback control and playlist overrides per zone.
  - name: Audio Messaging
    description: Audio-messaging campaigns and assets by group or zone.
  - name: Signage
    description: Digital-signage campaigns and assets by group or zone.
  - name: Data
    description: Playback history and asynchronous history exports.
security:
  - oauth2: []
paths:
  /api-clients/token:
    post:
      operationId: createAccessToken
      tags: [Auth]
      summary: Exchange client credentials for an access token
      description: >-
        Exchange a CLIENT_ID / CLIENT_SECRET pair (issued by Rockbot support)
        for a bearer ACCESS_TOKEN. Tokens are valid for 24 hours.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client_id, client_secret]
              properties:
                client_id: { type: string }
                client_secret: { type: string }
      responses:
        '200':
          description: Access token issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  token_type: { type: string, example: Bearer }
                  expires_in: { type: integer, description: Seconds until expiry (24h). }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /ext/devices/status:
    get:
      operationId: getDeviceStatus
      tags: [Devices]
      summary: Retrieve device operational metrics and configuration
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/devices/screenshots:
    get:
      operationId: getDeviceScreenshots
      tags: [Devices]
      summary: Fetch recent screen captures for a zone
      parameters:
        - { name: zone_id, in: query, schema: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/devices/reboot:
    post:
      operationId: rebootDevice
      tags: [Devices]
      summary: Initiate remote device reboot
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/music/now_playing:
    get:
      operationId: getNowPlaying
      tags: [Music]
      summary: Retrieve current playback state and queue
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/music/skip:
    post:
      operationId: skipTrack
      tags: [Music]
      summary: Advance to next track
      description: Limited to 6 skips per hour.
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/music/start:
    post:
      operationId: startMusic
      tags: [Music]
      summary: Resume music playback
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/music/stop:
    post:
      operationId: stopMusic
      tags: [Music]
      summary: Halt music playback
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/music/volume:
    post:
      operationId: setVolume
      tags: [Music]
      summary: Adjust volume
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                volume: { type: integer, minimum: 0, maximum: 100 }
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/zones/{zone_id}/playlists:
    get:
      operationId: listZonePlaylists
      tags: [Music]
      summary: List available playlists for a zone
      parameters:
        - { name: zone_id, in: path, required: true, schema: { type: string } }
        - { $ref: '#/components/parameters/limit' }
        - { $ref: '#/components/parameters/offset' }
      responses:
        '200': { $ref: '#/components/responses/Paginated' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/zones/{zone_id}/playlists/override:
    get:
      operationId: getPlaylistOverrides
      tags: [Music]
      summary: View active playlist overrides
      parameters:
        - { name: zone_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      operationId: createPlaylistOverride
      tags: [Music]
      summary: Set a temporary playlist override
      parameters:
        - { name: zone_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteAllPlaylistOverrides
      tags: [Music]
      summary: Remove all playlist overrides for a zone
      parameters:
        - { name: zone_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/zones/{zone_id}/playlists/override/{override_id}:
    delete:
      operationId: deletePlaylistOverride
      tags: [Music]
      summary: Delete a specific playlist override
      parameters:
        - { name: zone_id, in: path, required: true, schema: { type: string } }
        - { name: override_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/campaigns/group:
    get:
      operationId: listMessagingCampaignsByGroup
      tags: [Audio Messaging]
      summary: List audio-messaging campaigns by group
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/campaigns/zone:
    get:
      operationId: listMessagingCampaignsByZone
      tags: [Audio Messaging]
      summary: List audio-messaging campaigns by zone
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/campaign/group:
    post:
      operationId: createMessagingCampaignGroup
      tags: [Audio Messaging]
      summary: Create a group-level audio-messaging campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: archiveMessagingCampaignGroup
      tags: [Audio Messaging]
      summary: Archive a group-level audio-messaging campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/campaign/zone:
    post:
      operationId: createMessagingCampaignZone
      tags: [Audio Messaging]
      summary: Create a zone-level audio-messaging campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: archiveMessagingCampaignZone
      tags: [Audio Messaging]
      summary: Archive a zone-level audio-messaging campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/campaign/enable:
    post:
      operationId: enableMessagingCampaign
      tags: [Audio Messaging]
      summary: Activate an audio-messaging campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/campaign/disable:
    post:
      operationId: disableMessagingCampaign
      tags: [Audio Messaging]
      summary: Deactivate an audio-messaging campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/campaign/play:
    post:
      operationId: playMessagingCampaign
      tags: [Audio Messaging]
      summary: Trigger immediate campaign playback
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/campaign/add_asset:
    post:
      operationId: addMessagingCampaignAsset
      tags: [Audio Messaging]
      summary: Associate an asset with a campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/campaign/remove_asset:
    delete:
      operationId: removeMessagingCampaignAsset
      tags: [Audio Messaging]
      summary: Dissociate an asset from a campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/assets/group:
    get:
      operationId: listMessagingAssetsByGroup
      tags: [Audio Messaging]
      summary: List audio files by group
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/assets/zone:
    get:
      operationId: listMessagingAssetsByZone
      tags: [Audio Messaging]
      summary: List audio files by zone
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/asset/group:
    post:
      operationId: uploadMessagingAssetGroup
      tags: [Audio Messaging]
      summary: Upload an audio file (group-level)
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteMessagingAssetGroup
      tags: [Audio Messaging]
      summary: Remove an audio file (group-level)
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/messaging/asset/zone:
    post:
      operationId: uploadMessagingAssetZone
      tags: [Audio Messaging]
      summary: Upload an audio file (zone-level)
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteMessagingAssetZone
      tags: [Audio Messaging]
      summary: Remove an audio file (zone-level)
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/campaigns/group:
    get:
      operationId: listSignageCampaignsByGroup
      tags: [Signage]
      summary: List signage campaigns by group
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/campaigns/zone:
    get:
      operationId: listSignageCampaignsByZone
      tags: [Signage]
      summary: List signage campaigns by zone
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/campaign/group:
    post:
      operationId: createSignageCampaignGroup
      tags: [Signage]
      summary: Create a group-level signage campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: archiveSignageCampaignGroup
      tags: [Signage]
      summary: Archive a group-level signage campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/campaign/zone:
    post:
      operationId: createSignageCampaignZone
      tags: [Signage]
      summary: Create a zone-level signage campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: archiveSignageCampaignZone
      tags: [Signage]
      summary: Archive a zone-level signage campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/campaign/enable:
    post:
      operationId: enableSignageCampaign
      tags: [Signage]
      summary: Activate a signage campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/campaign/disable:
    post:
      operationId: disableSignageCampaign
      tags: [Signage]
      summary: Deactivate a signage campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/campaign/play:
    post:
      operationId: playSignageCampaign
      tags: [Signage]
      summary: Trigger immediate signage playback
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/campaign/add_asset:
    post:
      operationId: addSignageCampaignAsset
      tags: [Signage]
      summary: Associate a signage asset with a campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/campaign/remove_asset:
    delete:
      operationId: removeSignageCampaignAsset
      tags: [Signage]
      summary: Dissociate a signage asset from a campaign
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/assets/group:
    get:
      operationId: listSignageAssetsByGroup
      tags: [Signage]
      summary: List signage files by group
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/assets/zone:
    get:
      operationId: listSignageAssetsByZone
      tags: [Signage]
      summary: List signage files by zone
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/asset/group:
    post:
      operationId: uploadSignageAssetGroup
      tags: [Signage]
      summary: Upload a signage file (group-level)
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteSignageAssetGroup
      tags: [Signage]
      summary: Remove a signage file (group-level)
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/signage/asset/zone:
    post:
      operationId: uploadSignageAssetZone
      tags: [Signage]
      summary: Upload a signage file (zone-level)
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteSignageAssetZone
      tags: [Signage]
      summary: Remove a signage file (zone-level)
      responses:
        '200': { $ref: '#/components/responses/Object' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/data/signage/history:
    get:
      operationId: getSignageHistory
      tags: [Data]
      summary: Zone-level signage playback records
      parameters:
        - { $ref: '#/components/parameters/limit' }
        - { $ref: '#/components/parameters/offset' }
      responses:
        '200': { $ref: '#/components/responses/Paginated' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/data/music/history:
    get:
      operationId: getMusicHistory
      tags: [Data]
      summary: Zone-level music playback records
      parameters:
        - { $ref: '#/components/parameters/limit' }
        - { $ref: '#/components/parameters/offset' }
      responses:
        '200': { $ref: '#/components/responses/Paginated' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/data/messaging/history:
    get:
      operationId: getMessagingHistory
      tags: [Data]
      summary: Zone-level messaging playback records
      parameters:
        - { $ref: '#/components/parameters/limit' }
        - { $ref: '#/components/parameters/offset' }
      responses:
        '200': { $ref: '#/components/responses/Paginated' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/data/music/history/export:
    post:
      operationId: exportMusicHistory
      tags: [Data]
      summary: Submit a group music-history export job
      responses:
        '200': { $ref: '#/components/responses/ExportJob' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/data/signage/history/export:
    post:
      operationId: exportSignageHistory
      tags: [Data]
      summary: Submit a group signage-history export job
      responses:
        '200': { $ref: '#/components/responses/ExportJob' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/data/messaging/history/export:
    post:
      operationId: exportMessagingHistory
      tags: [Data]
      summary: Submit a group messaging-history export job
      responses:
        '200': { $ref: '#/components/responses/ExportJob' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /ext/data/history/exports/{job_id}:
    get:
      operationId: getExportJob
      tags: [Data]
      summary: Poll asynchronous export job status
      parameters:
        - { name: job_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/ExportJob' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: >-
        OAuth 2.0 Client Credentials grant. Exchange a CLIENT_ID/CLIENT_SECRET
        (issued by Rockbot support) at the token endpoint for a 24-hour bearer
        ACCESS_TOKEN, then send it as `Authorization: Bearer ACCESS_TOKEN`.
      flows:
        clientCredentials:
          tokenUrl: https://api.rockbot.com/v5/api-clients/token
          scopes: {}
  parameters:
    limit:
      name: limit
      in: query
      description: Page size for paginated results.
      schema: { type: integer }
    offset:
      name: offset
      in: query
      description: Zero-based offset for paginated results.
      schema: { type: integer }
  responses:
    Object:
      description: Success. Returns a JSON object or array.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    Paginated:
      description: Paginated collection.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PaginatedResponse' }
    ExportJob:
      description: Export job state.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ExportJob' }
    Unauthorized:
      description: Missing or invalid bearer access token.
    RateLimited:
      description: >-
        Rate limit exceeded. The default limit is 1 request per second.
  schemas:
    PaginatedResponse:
      type: object
      description: Common pagination envelope shared by paginated endpoints.
      properties:
        total_count: { type: integer }
        page_size: { type: integer }
        page: { type: integer }
        page_count: { type: integer }
        data:
          type: array
          items: { type: object, additionalProperties: true }
    ExportJob:
      type: object
      description: >-
        Asynchronous export job. On completion, `url` holds a presigned link to
        a JSONL download valid until `expires_at`.
      properties:
        job_id: { type: string }
        status: { type: string }
        url: { type: string, format: uri }
        expires_at: { type: string, format: date-time }
